<%- partial('_partial/head') %>
<body>
  <main class="main">
    <%- partial('_partial/header', {cache: true}) %>
    <section>
      <%- body %>
    </section>
    <%- partial('_partial/footer', {cache: true}) %>
  </main>
  <%- partial('_partial/mobile-nav') %>
  <%- partial('_partial/after-footer') %>
</body>
<!-- Cookie Consent -->
<script src="<%- url_for(`/js/cookie-consent.js`) %>" defer></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run();
});
</script>
</html>