<%- partial('_partial/head') %>
<body>
  <main class="main">
    <%- partial('_partial/header', {cache: true}) %>
    <section>
      <%- body %>
    </section>
    <%- partial('_partial/footer', {cache: true}) %>
  </main>
  <%- partial('_partial/mobile-nav') %>
  <%- partial('_partial/after-footer') %>
</body>
<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.2.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"UNDERTALE 中文本地化社区","website_privacy_policy_url":"https://chs.utclc.top/privacy-policy/"});
});
</script>
</html>